<!DOCTYPE html>
<html>
<head>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flickr" />
    <meta name="twitter:title" content="Small Island Developing States Photo Submission" />
    <meta name="twitter:description" content="View the album on Flickr." />
    <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <title>FaceTry</title>
</head>
<body>
    success
    will close in 5s;

</body>
<script>
    $(document).ready(function(){
        console.log('test')
        setTimeout(()=>{
            window.location.href="about:blank";
            window.close();
        }, 5000);
    })
</script>
</html>
